<% layout("./layout/master")%>
<%if(notes.length>0){notes.forEach(note=>{%>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body mb-2">
            <h4><%=note.title%></h4>
            <p><%=note.details%></p>
            <div class="align-items-start">
                <a href="/notes/edit/<%=note._id%>" class="btn btn-dark">Edit</a>
                <form action="/notes/edit/<%=note._id%>?_method=DELETE" class="d-inline-block" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <Button type="submit" class="btn btn-danger">Delete</Button>
                </form>
            </div>
        </div>
    </div>
</div>
<%})}else{%>
<p>No Notes right now</p>
<%}%>